.delete-button,
.delete-button:hover,
.delete-button:active,
.delete-button:focus,
.delete-button:focus:active {
  background-image: none !important;
  background-color: #bd3c3c !important;
}
.btn-edit,
.btn-edit:hover,
.btn-edit:active,
.btn-edit:focus,
.btn-edit:focus:active {
  margin-right: 10px !important;
  background-image: none !important;
  background-color: #e0c422 !important;
}
