.user-card {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(218, 218, 218);
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 10px;
}

.user-card-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-card-avatar {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #8dbc1b;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.user-card-avatar.confirmated {
  background-color: #8dbc1b;
}

.user-card-avatar.pendent {
  background-color: #fce90a;
}

.user-card-container2 {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card-container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-card-container4 {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.user-card-name {
  color: rgb(63, 63, 63);
  margin-bottom: 0;
  margin-left: 15px;
}

.user-card-description {
  color: black;
  margin-bottom: 0;
}

.confirmated-status {
  margin-bottom: 0;
  line-height: 20px;
}
.confirmated-time {
  margin-bottom: 0;
  line-height: 20px;
}

.confirm-button,
.confirm-button:hover,
.confirm-button:active,
.confirm-button:focus {
  background-image: none !important;
  background-color: #8dbc1b !important;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container {
  padding-bottom: 15px;
}

.col-md-3 {
  margin-bottom: 15px;
}

.input-container input,
select {
  border-color: #dadada !important;
  color: #bebdbd !important;
}

.escalation-container {
  display: flex;
}

.escalation-card {
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.field-container {
  width: 300px;
  height: 400px;
  padding: 20px;
  align-self: center;
  background-image: url("../../../assets/img/field.png");
}

.field-container.invert,
.field-player.invert {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.field-player-col {
  margin-bottom: 20px;
}

.field-player-col,
.field-player-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-player {
  height: 40px;
  display: flex;
  min-width: 40px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
}

.escalation-super-container {
  margin-top: -280px;
}

.field-player-name {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.field-player-add:hover {
  background-color: rgb(208, 255, 137);
}

.field-player-remove {
  background-color: #27293d;
  color: white;
}

.field-player-remove:hover {
  background-color: red;
  color: white;
}

.step-three-container {
  /* margin-top: -280px; */
}

.btn-invite-players {
  background-image: none !important;
  background-color: #c9761c !important;
}

.btn-invite-players:hover,
.btn-start:focus,
.btn-start:focus:active {
  background-image: none !important;
  background-color: #c9761c !important;
}

.btn-save {
  background-image: none !important;
  background-color: #2578f7 !important;
}

.btn-save:hover,
.btn-start:focus,
.btn-start:focus:active {
  background-image: none !important;
  background-color: #2578f7 !important;
}

.btn-start {
  background-image: none !important;
  background-color: #e0c422 !important;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:focus:active {
  background-image: none !important;
  background-color: #e0c422 !important;
}

.step-three-btn-container .card-title {
  margin-bottom: 0 !important;
}
.step-three-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step-three-btn-container .btn {
  margin-right: 15px;
}
.step-three-btn-container svg {
  margin-right: 10px;
}

.button-close-modal {
  background-image: none !important;
  background-color: rgb(255, 195, 195) !important;
}

.button-close-modal:hover,
.button-close-modal:focus,
.button-close-modal:focus:active {
  background-image: none !important;
  background-color: rgb(255, 195, 195) !important;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer-tempo {
  color: white;
}

.timer-time {
  font-size: 60px;
  line-height: 60px;
}

.escalation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field-team-name {
  color: white !important;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.match-started-escalation-container {
  margin-top: 40px;
}

.field-player-add-event {
  background-color: #27293d;
  color: white;
}

.field-player-add-event:hover {
  background-color: greenyellow;
  color: #27293d;
}

.super-container {
  background-color: rgba(0, 0, 0, 0);
}

.btn-confirmated,
.btn-confirmated:hover,
.btn-confirmated:active,
.btn-confirmated:focus,
.btn-confirmated:active:hover {
  margin-right: 10px !important;
  background-image: none !important;
  background-color: rgb(201, 118, 28) !important;
}

.btn-invite,
.btn-invite:hover,
.btn-invite:active,
.btn-invite:focus,
.btn-invite:active:hover {
  margin-right: 10px !important;
  background-image: none !important;
  background-color: rgb(29, 122, 145) !important;
}
