.signIn-container {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loading-dataTable-container {
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}

.card-header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.custom-modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal input:focus {
  color: rgb(83, 83, 83);
  margin-bottom: 10px;
}

.modal select:focus {
  color: rgb(83, 83, 83);
  margin-bottom: 10px;
}

.modal input,
.modal select {
  border-color: #7b86a7 !important;
  color: rgb(83, 83, 83) !important;
  margin-bottom: 10px;
}

.modal input::placeholder,
.modal select::placeholder {
  color: #b9bbc0 !important;
  opacity: 1;
}

.modal select:after {
  border-radius: 20px;
}

.modal input:disabled {
  border-color: #f5f4f4;
  color: #b6b5b5;
  background-color: #f5f4f4;
  margin-bottom: 10px;
}

.modal input:disabled::-webkit-input-placeholder {
  color: #b6b5b5;
}

.modal select {
  border-color: rgb(196, 196, 196);
  color: rgb(83, 83, 83);
  margin-bottom: 10px;
}

.action-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-table-action {
  align-items: center;
  justify-content: center;
}

.modal-body .custom-modal-footer .btn-primary {
  background: #3358f4;
}

.card option {
  background-color: #27293d;
}

.btn {
  padding: 11px 15px !important;
  justify-content: center !important;
  align-items: center !important;
}

.btn-icon {
  padding: 11px 11px !important;
}

.btn-icon > svg {
  vertical-align: super;
  justify-self: center;
  align-self: center;
}

.btn-info > svg {
  margin: 0 5px;
  padding-bottom: 2px;
}

label.btn {
  color: white !important;
  font-size: 0.81rem !important;
}

.rdw-dropdownoption-default {
  color: #7b7b7b;
  font-weight: 300;
}

label {
  color: white !important;
}

.modal-body label {
  color: #525f7f !important;
}

input,
select {
  color: white !important;
}

.form-control[disabled] {
  background-color: #e9ecef !important;
  border-color: #e9ecef !important;
  color: #979797 !important;
}
