.event-value-badge {
  min-width: 36px;
  font-size: 14px;
  font-weight: normal;
}

.event-value-badge.green {
  background-color: #4b9413;
  color: white;
}

.event-value-badge.red {
  background-color: #ff1919 !important;
  color: white;
}
