.upload-label {
  cursor: pointer;
}

.upload-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.upload-image-preview {
  display: block;
  max-height: 200px;
  max-width: 200px;
  width: auto;
  height: auto;
}
