.option-player-icon.check,
.option-text.check {
  color: rgb(81, 190, 81) !important;
}

.option-player-icon {
  margin-right: 25px;
  font-size: 30px;
  color: rgb(141, 140, 140);
}

.option-card.check {
  border-color: rgb(81, 190, 81) !important;
}
