.section-one-container {
  padding-top: 25px;
  margin-bottom: 25px;
}

.team_a_container {
  height: 50px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(42, 42, 42, 1) 37%,
    rgba(0, 0, 0, 1) 39%
  );
  margin-bottom: 30px;
}
.vs_container {
  height: 65px;
  position: absolute;
  width: 150px;
  border-radius: 5px;
  z-index: 999999999999;
  background: linear-gradient(
    130deg,
    rgba(240, 203, 108, 1) 0%,
    rgba(183, 126, 38, 1) 50%,
    rgba(240, 203, 108, 1) 100%
  );
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 25px;
  color: linear-gradient(
    130deg,
    rgba(240, 203, 108, 1) 0%,
    rgba(183, 126, 38, 1) 50%,
    rgba(240, 203, 108, 1) 100%
  );
}
.vs-text {
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(66, 66, 66) 50%,
    rgba(0, 0, 0, 1) 40%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
