.section-one-container {
  background-image: url("../../../../../assets/img/campo.jpg");
  background-repeat: no-repeat;
  background-position: center -290px;
  background-size: cover;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 600px) {
  .container-scoreboard {
    width: 300px;
  }
  .section-one-container {
    background-position: center -10px;
  }
}

.container-scoreboard {
  border-color: yellow;
  background-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 4px;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 250px;
}

.scoreboard-timer-container {
  display: flex;
  padding: 15px;
  align-items: center;
  background-color: #27293d;
  justify-content: center;
}

.scoreboard-score-container {
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.scoreboard-timer-2 {
  font-family: "DsDigi";
  font-size: 30px;
  color: red;
  line-height: 1;
}
.scoreboard-timer-3 {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: white;
  line-height: 1;
}

.scoreboard-score-number {
  border-radius: 10px;
  padding-top: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
  margin-top: 15px;
  margin-bottom: 15px;
}

.scoreboard-score-number-text {
  font-family: "DsDigi";
  font-size: 60px;
  color: #13fd2e !important;
  line-height: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.scoreboard-score-separator {
  display: flex;
  color: white;
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.btn-actions {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 5px;
}
