.table .action-column {
  /* max-width: 30px; */
  justify-content: flex-end;
}

.table .action-column .delete-button {
  margin-right: 10px;
}

.loading {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
